* {
    font-family: Lyon-Text, Georgia, ui-serif, serif;
    color: #37352f;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-size: 22px;
    line-height: 35.2px;
}

table {
    border: 1px solid rgba(55, 53, 47, .65);
    border-collapse: collapse;
    font-size: 14px;
}

td {
    border: 1px solid rgba(55, 53, 47, .65);
    padding: 1% 2%;
}

  #dropdown select {
    /* for Firefox */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  